@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Exo", sans-serif !important;
}


html {
  background-color: #0f172a;
  color: #f1f5f9;
}
.input-style {
  @apply w-full p-3 rounded-lg bg-gray-100 dark:bg-gray-700
  text-gray-800 dark:text-gray-100 border border-gray-300 dark:border-gray-600
  focus:ring-2 focus:ring-teal-400 outline-none transition;
}

/* tailwind.css */
.font-risque {
  font-family: "Risque", cursive;
}
.font-surfer {
  font-family: "Surfer", cursive;
}
